<input type="hidden" name="choosedPrice" id="choosedPrice" value="ALL" >
<input type="hidden" name="priceFrom" id="priceFrom" >
<input type="hidden" name="priceTo" id="priceTo" >
<div class="widget-category mb-30">
    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Price Range</h5>
    <ul class="categories price-catodgory">
        <input type="hidden" name="priceFrom" id="priceFrom" value="">
        <input type="hidden" name="priceTo" id="priceTo" value="">
        <li data-from="0" data-to="200" ><a>&#8377;0-&#8377;200</a></li>
        <li data-from="200" data-to="400" ><a>&#8377;200-&#8377;400</a></li>
        <li data-from="400" data-to="600"><a>&#8377;400-&#8377;600</a></li>
        <li data-from="600" data-to="800"><a>&#8377;600-&#8377;800</a></li>
        <li data-from="800" data-to="infinity"><a>800&#8377;+</a></li>
    </ul>
</div>